<div class="project-container">
    <h1>{{title}}</h1>
    <p>{{description}}</p>
    <p><strong>Technologies used:</strong> {{technologies}}</p>
    {{#if demoLink}}
        <a href="{{demoLink}}" target="_blank">Live Demo</a>
    {{/if}}
    <a href="{{githubLink}}" target="_blank">Source Code</a>
</div>